<server>

    <featureManager>
    	<feature>webProfile-8.0</feature>
    	<feature>jaxws-2.2</feature>
    	<feature>mpMetrics-2.3</feature>
    </featureManager>

    <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>

    <quickStartSecurity userName="admin" userPassword="admin"/>
    <ssl id="defaultSSLConfig" trustDefaultCerts="true"/>

    <applicationManager autoExpand="true"/>
    <applicationMonitor updateTrigger="mbean"/>
    <mpMetrics authentication="false"/>

</server>