<server>

    <featureManager>
    	<feature>webProfile-8.0</feature>
    	<feature>jaxws-2.2</feature>
    	<feature>mpMetrics-2.3</feature>
    </featureManager>

   <webApplication location="OLWeb.war" 
                   name="OLWeb" 
                   id="OLWeb" 
                   contextRoot="/">
      <classloader apiTypeVisibility="spec, ibm-api, api, stable, third-party"/>
   </webApplication>
   
    <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint"/>

    <quickStartSecurity userName="admin" userPassword="admin"/>
    <ssl id="defaultSSLConfig" trustDefaultCerts="true"/>

    <applicationManager autoExpand="true"/>
    <applicationMonitor updateTrigger="mbean"/>
    <mpMetrics authentication="false"/>
    
    <webContainer deferServletRequestListenerDestroyOnError="true" disableXPoweredBy="true" enableErrorExceptionTypeFirst="true"/>
    <cdi12 enableImplicitBeanArchives="false"/>
    <ejbContainer startEJBsAtAppStart="true"/>

</server>